section
  h2#about-me About Myself
  hr.bar

  div.about-lock
    .flip-container(ontouchstart="this.classList.toggle('hover');")
     .flipper
       .front
          div.face-img
       .back
          div.face1-img

    div(class="glyph-icon flaticon-terminal-windows" alt="Coder")
    div(class="glyph-icon flaticon-brain" alt="artificial intelligence")
    div(class="glyph-icon flaticon-machine" alt="machine learning")
    div(class="glyph-icon flaticon-hosting" alt="cloud computing")

  div.blurb
    p     
    p I am a Quality Engineer by profession with expertise in developing custom open source solutions for complex problems. I have worn many feathers in over 12 years of my career including Test Automation Training, Manager, Lead, Speaker and Developer. 
    p I identify myself as self proclaimed test evangelist. Big Jagjeet Singh fan and Sucker for Queen songs,  lover of south indian food and unorganized knowledge of trivia. 
    p Opinionated | He / Him | Moderate | Temperate | Mister Fahrenheit
    hr.bar

  div.skill-lock
