section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    
    a(target="_blank", href='https://www.facebook.com/prashant.shukla2309')
      div(class="glyph-icon flaticon-facebook") 
    a(target="_blank", href='https://www.linkedin.com/in/shuklaprashantqa/')
      div(class="glyph-icon flaticon-linkedin")
    a(target="_blank", href='https://github.com/prashantshukla-qa')
      div(class="glyph-icon flaticon-github")
    a(target="_blank", href='https://www.youtube.com/channel/UCHr3K4rV_TjdfnhNjmvAuQg?view_as=subscriber')
      div(class="glyph-icon flaticon-youtube")
    a(target="_blank", href='https://twitter.com/shuklprashant')
      div(class="glyph-icon flaticon-twitter")      

  hr.bar

  a( class='biglink' href='mailto:prashantshukla.its@gmail.com') prashantshukla.its@gmail.com
