div.container-fluid
  nav.navbar.navbar-expand-sm.navbar-light.nav-xs-style.height-100
    div.col-9.col-sm-3
      a.navbar-brand.logo(href="#") 
    button.col-3.navbar-toggler.float-right(type="button" data-toggle="collapse" data-target="#myNavbar")
      span.navbar-toggler-icon
    div.col-12.col-sm-9.collapse-xs-style
      div#myNavbar.collapse.navbar-collapse.float-right
        ul.navbar-nav
          li.active
            a.nav-link.color-prime-7.font-size-17(href='#') Home
          li
            a.nav-link.color-prime-7.font-size-17(href='#about-me') About Me
          li
            a.nav-link.color-prime-7.font-size-17(href='#Experience') Experience
          li
            a.nav-link.color-prime-7.font-size-17(href='#Blog') Blog
          li
            a.nav-link.color-prime-7.font-size-17(href='#Details') Contact Me        
  div#particles-js  
  a(href="#" class="back-to-top") Back To Top
  header#home
    h1
      a(href="/")
        span Prashant Shukla
    p.kicker Test Engineer // Automation Trainer // QA Coach // Mentor